* {
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: hidden;
}

/* the bg image for toTrivia div */
.custom-bg-gif {
  background-image: url("../images/hacker-gif.gif");
  background-size: 100%;
  max-height: fit-content;
}

/* the bg image for main */
.custom-bg-img {
  background-image: url("../images/gamer-img.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.custom-scroll {
  display: none;
}

.custom-height {
  min-height: 30%;
  max-height: 30%;
}

.hide {
  display: none;
}
.card {
  height: 18rem;
  opacity: 80%;
}
.card:hover .hide {
  display: block;
}
.card:hover {
  height: 36rem;
  opacity: 100%;
  background-color: dark !important;
  color: #f8f9fa !important;
  border: 5px solid #f8f9fa;
  opacity: 80%;
}



/* .card .card-body.hover {
} */

.card img {
  max-height: 50%;
  min-height: 50%;
}
.card:hover img {
  min-height: 30%;
  max-height: 30%;
}
.youtube-btn:hover {
  transform: translateY(4px);
  background-color: red;
}
